/******************************************************************
Index:
    4. nav
    8. Folder Tree
*******************************************************************/

/************************************************************************************/
/*S> 4. nav */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1;
}

/************************************************************************************/
/*S> 4. nav */
.agr__nav {
    box-shadow: 0px 10px 10px 10px rgba(110,110,110,1);
}
.agr__folderNav {
    background-color: whitesmoke;
    border-right: thin solid black;
}
/*E> 4. nav */
/************************************************************************************/



/************************************************************************************/
  /*S> 8. Folder Tree */
/* Remove margins and padding from the parent ul */
#folderTree {
    list-style-type: none; /* Remove default bullets */
    margin: 0;
    padding: 0;
}
#folderTree li {
    list-style-type: none;
}

/* Style the caret/arrow */
.folder {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.folder::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.folder-down::before {
    transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
}
/*E> 8. Folder Tree */
/************************************************************************************/